<template>
    <div>
         <label  class="container">
            <input v-bind="$attrs"  :name="name" :value="value" type="radio" @change="$emit('change', $event.target.value)" />
            <span class="checkmark"></span>
            <p>{{title}}</p>
        </label>
    </div>
</template>
<script>
export default {
    inheritAttrs:false,
    model: {
    prop: 'modelValue',
    event: 'change'
    },
    name:"CustomRadio",
    props:["title","value", "name"],
        
}
</script>
<style lang="scss" scoped>
    label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 20px;
        }
    .container {
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;
    }

    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: #fff;
        border:1px solid RGB(220, 224, 228);
        border-radius: 50%;
    }
    .container:hover input ~ .checkmark {
        background-color: rgb(252, 249, 249);
    }
    .container input:checked ~ .checkmark {
        border:1px solid #2196F3;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .container input:checked ~ .checkmark:after {
        display: block;
    }

    .container .checkmark:after {
        top: 50%;
        left:  50%;
        transform: translate(-50%,-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: RGB(0, 124, 248);
    }
</style>