<template>
    <div class="Custom_input">
        <h2>{{title}}</h2>
        <label>
            <p v-show="symbol">{{symbol}}</p>
            <input v-bind="$attrs" :placeholder="placeholder" :type="type" v-on:input="$emit('input', $event.target.value)">
        </label>
            <p>{{error}}</p>

    </div>
</template>
<script>
export default {
    inheritAttrs:false,
    methods:{
    },
    props:["placeholder","title","symbol","type","regex","error"],

    name:"InputCustom"
}
</script>

<style lang="scss" scoped>
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
    .Custom_input{
        width: 100%;
        margin-bottom: 20px;
        @media(min-width:768px){
        width:46%;
        margin-bottom: 0;
        }
        @media(min-width:1024px){
            width: 270px;

        }
    }
    .Custom_input h2 {
        margin-bottom: 5px;
        color: RGB(60, 64, 68);
        font-size: 14px ;
        font-weight: 600;
    }
    .Custom_input input {
        width: 100%;
        height: 38px;
        box-sizing: border-box;
        padding: 10px;
        font-size: 14px;
        color:RGB(120, 124, 128);
        border:none;
        border-left: 1px solid RGB(220, 224, 228);

}
    .Custom_input label{
        display: flex;

        border-radius: 5px;
        
        border: 1px solid RGB(220, 224, 228);

    }
    .Custom_input > p {
        font-size: 12px;
        font-weight: 500    ;
        color:RGB(248, 60, 94);
        position: absolute;
    }
    .Custom_input > label > p {
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 500;
        color:RGB(60, 64, 68);
    }
</style>