<template>
    <div class="Brand">
        <div class="Brand_logo">
            <img :src="company_logo"/>
        </div>
        <div class="Brand_title">
            <div>
                <h1>{{name}}</h1>
                <p class="Tag Tag-green">{{status ? "active" : "inactive"}}</p>
            </div>
            <div class="Brand_country_info">
                <div>
                    <h2>Country</h2>
                    <p>{{country}}</p>
                </div>
                <div>
                    <h2>Products</h2>
                    <p>250</p>
                </div>
            </div>
        </div>
        <div class="Brand_info">
            <h2>id</h2>
            <p>{{company_id}}</p>
            <h2>Company</h2>
            <p>{{company_name}}</p>
            <h2>Category</h2>
            <p>{{category}}</p>
            <h2>Phone</h2>
            <p>{{phone}}</p>


        </div>
        <div class="Brand_keywords">
            <h2>Keywords</h2>
            <div class="Brand_keywords_wrap">
                <p v-for="(keyword,index) in keywords" :key="index" class="Tag">{{keyword}}</p>

            </div>
        </div>
        <div class="Brand_social_icons">
            <div class="Icon"><a :href="social.website" target="_blank"><img src='../assets/website.png'/></a></div>
            <div class="Icon"><a :href="social.facebook" target="_blank"><img src='../assets/fb-icon.png'/></a></div>
            <div class="Icon"><a :href="social.instagram" target="_blank"><img src='../assets/instagram-i.png'/></a></div>
            <div class="Icon"><a :href="social.twitter" target="_blank"><img src='../assets/twitter-i.png'/></a></div>
        </div>
    </div>
</template>


<script>
export default {
  name: 'BrandInfo',
  props:["brand"],
  computed:{
    status(){
          return this.brand.attributes.active
      },
    name(){
        return this.brand.attributes.name 
    },
    company_logo(){
        return this.brand.attributes.logo.list.url 
    },
    country(){
        return this.brand.included.filter(br => br.type == "countries")[0].attributes.name
    },
    company_id(){
        return this.brand.id
    },
    company_name(){
        return this.brand.included.filter(br => br.type == "companies")[0].attributes.name
    },
    category(){
        return this.brand.included.filter(br => br.type == "categories")[0].attributes.name
    },
    phone(){
        return this.brand.attributes.phone
    },
    keywords(){
        return this.brand.attributes.keywords
    },
    social(){
        return this.brand.attributes.externalUrls   
    }
  }
}
</script>

<style scoped lang="scss">
 .Brand {
    margin-right: 40px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
    /* box-shadow: X Y Blur Spread */
    box-shadow: 0 0 2px 1px #e1e2e3;
    box-shadow: 0 2px 4px -1px #e1e2e3;
    box-shadow: 0 4px 6px -1px #e1e2e3;
    & > div:nth-child(n + 1) {
        border-top: 1px solid #F0F2F4;
    }
    @media(min-width:1024px){
        width:280px;
        margin-bottom: 0px;

    }
}
.Brand_logo {
    padding:0 40px;
    width: 30%;
    margin:0 auto;
    @media(min-width:1024px){
        box-sizing: border-box;
        width: 100%;
    }
}
.Brand_logo img {
    width: 100%;
}

.Brand_title {
    display: flex;
    flex-direction: column;
}
.Brand_title >  div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    padding: 20px 0 ;
}
.Brand_country_info {
    display: flex;
    padding:11px 0;
    border-top: 1px solid #F0F2F4;
}

.Brand_country_info > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:50%;
    box-sizing: border-box;
}

.Brand_info, .Brand_keywords {
    padding:11px 20px;
}
.Brand_info {
    p {
        margin-bottom: 10px;
    }
}
.Brand_keywords h2 {
    margin-bottom: 12px;
}
.Tag {
    display: inline;
    padding:2px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500    ;
    background-color: #F0F2F4;
}
.Tag-green {
    background-color:RGBA(30, 188, 124, 0.1);
    color: #1EBC7C;
}
.Tag-blue {
    background-color:RGBA(0, 124, 248, 0.1);
    color: RGB(0, 124, 248);
}

.Brand_social_icons {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Icon {
    width:20px;
    height:20px;
    opacity: 0.5;
    img {
        width:100%;
    }
}
.Brand_keywords_wrap {
    display:flex;
    flex-wrap: wrap;
    .Tag{
        margin-left:4px;
        margin-bottom: 5px;
    }
}
</style>