<template>
    <div class="GiftForm">
        <h1>Gift information</h1>
        <h2>Select gift amount</h2>
        <div class="GiftAmount">
            <div>
                <button class="Select_button" :key="price.id" v-for="price in availValues" v-on:click="AmountValue(price.attributes.price_min.amount)" :class="userData.amount == price.attributes.price_min.amount ?'Checked':''">{{price.attributes.price_min.formatted}}</button>
                <button v-on:click="AmountValue(0)" :class="[isCustomAmount ?'Checked':'','Select_button' ]">Custom</button>
            </div>  
            <InputCustom
                :validate="validate"
                v-show="isCustomAmount"
                v-model="userData.amount"
                placeholder="Enter custom amount"
                :error="errors.amount"
                type="number"
                symbol="$"
                        />
           
        </div>
        <h2>Delivery type</h2>
        <div class="Delivery_type">
            <div class="Delivery_type_buttons">
                <CustomRadio
                    checked=true
                    v-model="userData.personal"
                    name="delivery"
                    title="Personal"
                    value="personal"
                    
                />
                <CustomRadio
                    v-model="userData.personal"
                    name="delivery"
                    title="Send as gift"
                    value="gift"

                />

                
            </div>
            <div class="Delivery_type_form">
                <div v-if="userData.personal != 'personal'" class="Delivery_type_form_row">
                    <InputCustom
                        :error="errors.sender_name"
                        :validate="validate"
                        v-model="userData.sender_name"
                        title="Sender name"
                        placeholder="Enter sender name"
                        type="text"
                        />
                    <InputCustom
                        :error="errors.recipient_name"
                        :validate="validate"
                        v-model="userData.recipient_name"
                        type="text"
                        title="Recipient name"
                        placeholder="Enter recipient name"
                />
                </div>
                <div class="Delivery_type_form_row">
                    <InputCustom
                        :validate="validate"
                        v-model="userData.recipient_email"
                        type="email"
                        title="Recipient email"
                        placeholder="Enter recipient email"
                        :error="errors.recipient_email"
                       />
                    <InputCustom
                        
                        :validate="validate"
                        v-model="userData.recipient_number"
                        type="tel"
                        title="Recipient number"
                        symbol="+65"
                        placeholder="Enter recipient number"
                        :error="errors.recipient_number"
                />
                </div>
            </div>

        </div>
        <h2 v-if="userData.personal=='gift'">Delivery time</h2>
        <div v-if="userData.personal=='gift'" class="Delivery_time">
            <div class="Delivery_type_buttons">
                <CustomRadio
                    :checked="userData.delivery_time == 'custom' ? false : true"
                    v-model="userData.delivery_time"
                    name="delivery_time"
                    title="Immediately"
                    value="immediately"
                />
                <CustomRadio
                    :checked="userData.delivery_time == 'custom' ? true : false"

                    v-model="userData.delivery_time"
                    name="delivery_time"
                    title="Custom"
                    value="custom"

                />
            </div>
            <div  v-if="userData.delivery_time != 'immediately' " class="Delivery_time_form"> 
                 <InputCustom
                        :validate="validate"
                        v-model="userData.delivery_date"
                        title="Delivery date"
                        placeholder="Select delivery date"
                        :error="errors.delivery_date"
                        type="date"
                        />
                <div>
                    <button @click="ChangePeriod('morning')"  :class="[userData.period == 'morning' ?'Checked':'','Select_button','Select_button-padding']">Morning</button>
                    <button @click="ChangePeriod('afternoon')"  :class="[userData.period == 'afternoon' ?'Checked':'','Select_button','Select_button-padding' ]">Afternoon</button>
                    <button @click="ChangePeriod('evening')"  :class="[userData.period == 'evening' ?'Checked':'','Select_button',' Select_button-padding','Select_button-margin' ]">Evening </button>
                </div>
            </div>
        </div>
        <h2>Gift message</h2>
        <div class="Delivery_gift_message">
            <textarea v-model="userData.message" placeholder="Enter gift message"/>
            <p>{{errors.message}}</p>
        </div>
        <div class="Form_submit">
            <button @click="ValidateForm" class="Checked Select_button Select_button-margin">Send</button>
        </div>
        <div>

        </div>
    </div>
</template>


<script>    
import InputCustom from './form/Input'
import CustomRadio from './form/CustomRadio.vue'
export default {

    props:["brand"],
    name: 'GiftBrand',
    components:{InputCustom, CustomRadio},
    methods:{
        ChangePeriod(period){
            this.userData.period = period
        },
   
        ValidateForm() {

            let regexEmail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            let regexNumber = /[6|8|9]\d{7}|\+65[6|8|9]\d{7}|\+65\s[6|8|9]\d{7}/;
            // validate amount
            if(this.userData.amount <= 0) {
                this.errors.amount = "Please enter correct number > 0"
            }
            else {
                this.errors.amount = ""
            }

            //validate Delivery type
            //email
            if(this.userData.recipient_email.length == 0){
                this.errors.recipient_email = "Please enter recipient email"
            }
            else if(!regexEmail.test(this.userData.recipient_email)){
                this.errors.recipient_email = "Please enter valid email"
            }
            else{
                this.errors.recipient_email = ""
            }
            //phone
            if(this.userData.recipient_number.length == 0){
                this.errors.recipient_number = "Please enter recipient number"
            }
            else if(!regexNumber.test(this.userData.recipient_number)){
                this.errors.recipient_number = "Please enter valid number"
            }
            else {
                this.errors.recipient_number = ""            
            }
            //delivery type
            if(this.userData.personal == "gift"){
                if(this.userData.sender_name.length == 0){
                    this.errors.sender_name = "Please enter sender name"
                }
                else {
                    this.errors.sender_name = ""
                }

                if(this.userData.recipient_name?.length == 0){
                    this.errors.recipient_name = "Please enter recipient name"
                }
                else {
                    this.errors.recipient_name = ""
                }
                //delivery time
                if(this.userData.delivery_time == "custom"){
                    if(this.userData.delivery_date.length == 0){
                        this.errors.delivery_date = "Please enter delivery date"
                    }
                    else {
                        this.errors.delivery_date = ""
                        if(isNaN(Date.parse(this.userData.delivery_date))){
                        this.errors.delivery_date = "Please enter valid delivery date"
                        }
                        else {
                            this.errors.delivery_date = ""     
                        }
                    }

                }
                else {
                    this.errors.delivery_date = ""
                }
            }
            else {
                this.errors.sender_name = ""
                this.errors.recipient_name = ""
                this.errors.delivery_date = ""
                this.errors.delivery_time = ""
                this.userData.sender_name = ""
                this.userData.recipient_name = ""
                this.userData.delivery_date = ""
            }
            

            //gift message
            if(this.userData.message.length == 0){
                    this.errors.message = "Please enter gift message"
                }
                else {
                    this.errors.message = ""
                }
            
            const isValidForm = Object.values(this.errors).every(x => x === '');
            
            if(isValidForm){
                console.log(JSON.stringify(this.userData))
            }

        },
        AmountValue(value){
          if(value == 0){
            this.isCustomAmount = true
          }
          else {
            this.isCustomAmount = false

          }
          this.userData.amount = value
      }
    },
    computed:{
        availValues: function(){
            return this.brand.included.filter(br => br.type=="products")
        }
    },
    data() {
    return {
        validate:0,
        isCustomAmount:false,
        errors: {
            amount:"",
            delivery_date:"",
            sender_name:"",
            recipient_name:"",
            recipient_email:"",
            recipient_number:"",
            message:""
        },
        userData:{  
            amount:10,
            delivery_time:"immediately",
            delivery_date:"",
            personal:"personal",
            sender_name:"",
            recipient_name:"",
            recipient_email:"",
            recipient_number:"",
            message:"",
            period:"morning"


        }
    }
}
}
</script>

<style scoped lang="scss">
    .GiftForm {
        width:100%;
        box-sizing: border-box;
        padding: 20px;
        background-color: #fff;
        /* box-shadow: X Y Blur Spread */
        border-radius: 5px;
        box-shadow: 0 0 2px 1px RGBA(30, 34, 38, 0.06);
        box-shadow: 0 2px 4px -1px RGBA(30, 34, 38, 0.06);
        box-shadow: 0 4px 6px -1px RGBA(30, 34, 38, 0.06);
        @media(min-width:1024px){
            width:600px;
        }
    }
    .GiftForm h1{
        margin-bottom: 20px;
        font-size: 18px;
        color:RGB(30, 34, 38);
        font-weight: 600;
    }
    .GiftForm h2 {
        margin-bottom: 10px;
        font-size: 14px;
        color:RGB(60, 64, 68);
        font-weight: 600;
    }
    .GiftAmount > div {
        margin-bottom: 30px;
    }

    .GiftAmount label {
        width: 270px;
        margin-bottom: 20px;

        display: inline-flex;
        border: 1px solid RGB(220, 224, 228);
        border-radius: 5px;
        p {
            padding: 10px 15px;
            
        }
    }
    .Select_button{
        padding:10px 15px;
        line-height: 1.3;
        font-size: 14px;
        color:RGB(60, 64, 68);
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid RGB(220, 224, 228);
    }
    .Select_button-margin {
        margin:0
    }
    .Select_button-padding {
        padding:10px 10px;

    }
    .GiftAmount input {
        width:100%;
        padding: 10px 10px;
        font-size: 14px;
        font-weight: 500;

        background-color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        border:none;
        border-left: 1px solid RGB(220, 224, 228);
    }
    .GiftForm .Checked {
        background-color: RGB(0, 124, 248);
        border: 1px solid RGB(0, 124, 248);

        color:#fff;
    }

    .Delivery_type_buttons {
        display: flex;
        margin-bottom: 40px;
       
    }

    .Delivery_type_form_row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    .Delivery_time {
        margin-bottom: 40px;
    }
    .Delivery_time_form {
        flex-wrap: wrap;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        & > div:first-child {
             @media(min-width:1024px){
                width: 270px;
            }
        }
        @media(min-width:1024px){
            flex-wrap: nowrap;

        }
    }
    .Delivery_gift_message {
        margin-bottom: 20px;
        width:100%;
        height: 100px;
        textarea {
            width:100%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid RGB(220, 224, 228);
            resize: none;
            border-radius: 5px;
            padding: 10px;
        }
        p {
            font-size: 12px;
            font-weight: 500;
            color: RGB(248, 60, 94);
        }
    }

    .Form_submit {
        display: flex;
        justify-content: flex-end;
        width:100%;
    
    }
</style>