<template>
  <div class="Wrap">
    <h1>Issue gift card</h1>
    <BrandInfo :brand="brand.data"/>
    <GiftForm :brand="brand.data"/>
    
  </div>
</template>

<script>
import GiftForm from "../components/giftForm";
import BrandInfo from "../components/brandInfo"

export default {
    name: "IndexPage",
    components: { BrandInfo, GiftForm },
    async asyncData({ $axios, $config }){
      const brand = await $axios.$get(`/4d113632-26ac-4547-a818-117e2ced1cc5`)
      return { brand }
    }
}
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  font-family: "Poppins";
  margin:0;
  padding: 0;
}
body {
  background-color: RGB(250, 250, 251);
}
p {
  line-height: 1.3;
  font-size:14px;
  color:#3C4044;
  font-weight: 400;
}
h1 {
  font-size:22px;
  color:#1E2226;
  font-weight: 700;
}
h2 {
  font-size:12px;
  color:#787C80;
  font-weight: 500;
}

.Wrap {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  @media(min-width:1024px){
    flex-direction: row;
  }
  & > h1 {
    margin-bottom: 40px;
    width:100%;
  }
}
</style>